.container {
    width: 600px;
    height: auto;
}

.info-block {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.info-block b {
    display: block;
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 5px;
}

label {
    padding-top: 5px;
    margin-bottom: 5px;
}